body {
  background-image: url(../assets/quiz.jpg);
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.button {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.button:hover {
  background: grey;
  color: white;
}