body {
  background-image: url(../assets/quiz.jpg);
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.returnButton:hover {
  background: grey;
  color: white;
}

#question {
  text-align: center;
}

#category-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#answer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.returnButton {
  margin-top: 10px;
}

.image {
  display: flex;
}


#description{
  font-size: 12px;
}